@page "/flights"
@using Assignment2OOP.Data

<section id="findFlightSection">
    @*This id allows us to target using css later in the flights.razor.css file*@
    <h3>Flight Finder</h3>
    <form>
        <div>
            <label for="leavingFrom">Leaving From:</label>
            <select id="leaving_from" @onchange="SelectOrigin">
                <option selected>Any</option>
                @foreach(var item in airports)
                {
                    <option value="@item.Code">@item.Code - @item.Name</option>
                }
            </select>
            @* <input type="text" id="leaving_from" class="form-control" placeholder="Any" /> *@
            @*Will also need a @bind-value when doing the backend*@
        </div>
        <div>
            <label for="goingTo">Going To:</label>
            <select id="going_to" @onchange="SelectDestination">
                <option selected>Any</option>
                @foreach (var item in airports)
                {
                    <option value="@item.Code">@item.Code - @item.Name</option>
                }
            </select>
@*             <label for="goingTo">Going To</label>
            <input type="text" id="going_to" class="form-control" placeholder="Any" /> *@
        </div>
        <div>
            <label for="Day">Day:</label>
            <select id="day" @onchange="SelectDay">
                <option selected>Any</option>
                @foreach (string item in days)
                {
                    //TODO review below line of code**
                    <option value ="@item">@item</option>
                }
            </select>
           @*  <label for="day">Day</label>
            <input type="date" id="day" class="form-control" /> *@
            @*This section, in the example has a placeholder, but it may have to display nothing for now*@
        </div>
    </form>
    <button type="submit" class="btn btn-primary" @onclick="FlightSearch">Search Flights</button>
</section>

<section id="findFlightSection">
    <h3>Display Flights</h3>
    <div>
        <select @onchange="SelectFlight">
            <option disabled selected>Loading...</option>
            @if (displayFlights.Count == 0)
            {
                <option disabled selected>Loading...</option>
            }
            else
            {
                @foreach (Flight flight in displayFlights)
                {
                    <option value="@flight.Code">@flight.Code @flight.Airline @flight.Origin @flight.Destination @flight.Day @flight.Time @flight.NumOfSeats @flight.Cost</option>
                }
            }
        </select>
       @*  <input class="form-control" placeholder="loading" /> *@
        @*Temporary placeholder that needs to be a section that displays per each flight meeting the above search*@
    </div>
</section>
<section id="findFlightSection">
    <h3>Reserve Flights</h3>
    <form>
        <div>
            <label for="flightCode">Flight Code</label>
            <input type="text" class="form-control" placeholder="@flightCode" @bind="@flightCode" disabled />
        </div>
        <div>
            <label for="airline">Airline</label>
            <input type="text" class="form-control" placeholder="@flightAirline" @bind="@flightAirline" disabled />
        </div>
        <div>
            <label for="flightDay">Day</label>
            <input type="text" class="form-control" placeholder="@flightDay" @bind="@flightDay" disabled />
        </div>
        <div>
            <label for="flightTime">Time</label>
            <input type="text" class="form-control" placeholder="@flightFlightTime" @bind="@flightFlightTime" disabled/>
        </div>
        <div>
            <label for="flightCost">Cost</label>
            <input type="number" class="form-control" placeholder="@flightCost" @bind="@flightCost" disabled/>
        </div>
        <div>
            <label for="name">Name</label>
            <input type="text" class="form-control" placeholder="Name" @bind="@clientName" />
        </div>
        <div>
            <label for="citizenship">Citizenship</label>
            <input type="text" class="form-control" placeholder="Citizenship" @bind="@clientCitizenship" />
        </div>
    </form>
    <button type="submit" class="btn btn-primary" @onclick="CreateReservation">Reserve</button>
    <p>Reservation Code: @reservationCode</p>
</section>

@code {
    AirportManager airportManager = new AirportManager();
    List<Airport> airports = AirportManager.GetAirports();
    List<string> days = new List<string>() { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" };


    FlightManager flightManager = new FlightManager();
    List<Flight> flights = FlightManager.GetFlights(); //actual list

    List<Flight> displayFlights = new List<Flight>(); // display list

    ReservationManager reservationManager = new ReservationManager();
    List<Reservation> reservations = ReservationManager.GetReservations();



    // new list > hold the items for flights that meet the Condition A && B && C = new list (Newlist is going to be foreach() inside to display)  
    string selectedOrigin = "";
    string selectedDestination = "";
    string selectedDay = "";

    string selectedFlightCode;

    string flightCode = "Flight Code";
    string flightAirline = "Airline";
    string flightDay = "Day";
    string flightFlightTime = "Flight Time";
    double flightCost = 0;
    string clientName;
    string clientCitizenship;
    string reservationCode;

    void SelectOrigin(ChangeEventArgs e)
    {
        selectedOrigin = e.Value.ToString();
    }

    void SelectDestination(ChangeEventArgs e)
    {
        selectedDestination = e.Value.ToString();
    }
    void SelectDay(ChangeEventArgs e)
    {
        selectedDay = e.Value.ToString();
    }

    void FlightSearch()
    {
        displayFlights.Clear();
        displayFlights = flights.Where(f => f.Origin.ToUpper().Contains(selectedOrigin.ToUpper()) && f.Destination.ToUpper().Contains(selectedDestination.ToUpper()) && f.Day.ToUpper().Contains(selectedDay.ToUpper())).ToList();
    }

    void SelectFlight(ChangeEventArgs e)
    {
        selectedFlightCode = e.Value.ToString();
        if (selectedFlightCode != null)
        {
            Flight selectedFlight = flights.Where(f => f.Code.ToUpper().Contains(selectedFlightCode)).FirstOrDefault();
            flightCode = selectedFlight.Code;
            flightAirline = selectedFlight.Airline; // Changed flight name to Airline
            flightDay = selectedFlight.Day;
            flightFlightTime = selectedFlight.Time;
            flightCost = selectedFlight.Cost;
        }
    }

    void CreateReservation()
    {
        Flight selectedFlight = flights.Where(f => f.Code.ToUpper().Contains(selectedFlightCode)).FirstOrDefault();
        reservationCode = ReservationManager.AddReservation(selectedFlight, clientName, clientCitizenship);
    }

}